@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
	border: 0px;
	}

#logoSearch {
	horizontal-align: left;
	vertical-align: top;
	position:    relative;
    left:        50%;        /* Start with top left in the center */
    top:         200px;
	margin-left: -300px;
	width: 600px;
}

#header {
	align: left;
	background-color: #F4F4F4;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#logoMain {
	margin-top: 15px;
	margin-left: 10px;
	float:left;
}

#searchResultsBody {
	margin-left: 175px;
	width: 550px;
	padding-top: 70px;
}

.totalResults {
	margin-top: 20px;
	font-size: 80%;
	color: #787878;
}

.searchResults {
	padding-top: 20px;
}

.searchBox {
	font-family: 'Open Sans', sans-serif;
	}
	
.searchBox.start {
	align:left;
	margin-left: 15px;
	margin-top: 15px;
}
	
.searchBox.main {
	float: left;
	margin-top: 17px;
	padding-left: 10px;
}

.search {
	border-width: 1px thin;
	border-color: #F4F4F4;
}
	
.search.start {
	width: 450px;
	padding: 6px;
	margin: 3px;
	}
	
.title {
	font-weight: 600;
	font-size: 120%;
}
.citation {
	font-size: 80%;
	color: #787878;
}

.doiNum {
	font-size: 80%;
	color: #787878;
}

.previous {
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 20%;
	color: #787878;
	float: left;
	display: inline-block
}

.next {
	margin-top: 20px;
	margin-bottom: 25px;
	color: #787878;
	margin-left: 60%;
	float: left;
	display: inline-block;
	margin-left: 8%;
	
}

.pageNumInfo {
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 8%;
	float: left;
	display: inline-block;
	color: #787878;
}

.line-endSeparator {
	margin-top: 30px;
	border-bottom: thin solid #e9e9e9;
	color: white;
}

.previous a:visited {
	color: #427291;
}

.next a:visited {
	color: #427291;
}

a:link {
	color: #427291;
	text-decoration: none;
}

a:hover {
	color: #427291;
	text-decoration:underline;
}

.imageLink:hover {
	opacity: 0.3; 
	filter: alpha(opacity=30);
}

.buttonSubmit{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding: 4px 20px;
	background: #427191;
	/*background: -moz-linear-gradient(
		top,
		#427191 0%,
		#427191);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#427191),
		to(#427191));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#427191', endColorstr='#427191');
	-moz-border-radius: 0px; */
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #427191;
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/*button*/
.buttonGeneral {
	font-family: 'Open Sans', sans-serif;
	padding: 1px 5px;
	position: relative;
	z-index: 20;
	display: block;
	height: 31px; 
	cursor: pointer;
	color: #777;
	width: 130px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	/*line-height: 33px*/;
	line-height: 25px;
	font-size: 80%;
	background: #ffffff;
	outline: none;
	border: 0;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}

.buttonGeneral.export {
	float: left;	
	margin-top: -10px;
}

.buttonGeneral:hover {
	background: #c6e1ec;
	border:0px;
}

/************************** Accordion CSS *********************************/

.ac-container{
	margin-bottom: 10px;
	text-align: left;
}
.ac-container label{
	padding: 1px 5px;
	position: relative;
	z-index: 20;
	display: block;
	height: 29px;
	cursor: pointer;
	color: #777;
	width: 130px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 28px;
	font-size: 80%;
	margin-left: 150px;
	margin-top: -10px;
	background: url(../img/arrow_down.png) no-repeat 99.5% center;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover{
	background: #c6e1ec url(../img/arrow_down.png) no-repeat 99.5% center;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #c6e1ec url(../img/arrow_up.png) no-repeat 99.5% center;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
}

.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	margin-right: 110px;
	position: relative;
	z-index: 10;
	float:left;
	margin-bottom: 20px;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 100px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

}
